@import "../fonts/google_sans/stylesheet.css" layer(base);
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-google-sans: "Google Sans", sans-serif;

  /* --background-image-image-light: linear-gradient(
      to right,
      #80808012 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  --background-image-image-dark: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px); */
}
/* 
.background-image-image-light {
  background-color: #eef2ff;
  opacity: 0.1;
  background-image: linear-gradient(#4f46e5 1.5px, transparent 1.5px),
    linear-gradient(to right, #4f46e5 1.5px, #eef2ff 1.5px);
  background-size: 30px 30px;
} */

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    font-family: "Google Sans", sans-serif;
  }

  body::-webkit-scrollbar {
    width: theme(padding.2);
  }

  body::-webkit-scrollbar-track {
    background-color: var(--color-gray-200);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-400);
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-400);
  }

  html.dark body::-webkit-scrollbar-track {
    background-color: var(--color-gray-800);
  }

  html.dark body::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-600);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(2em);
}
